.nav{
    height: 50px;
    background: blue;
}

.nav div{
    display: inline-block;
    position: absolute;
    left: 0;
    padding: 15px;
    font-size: 20px;
    color: white;
}

.nav ul{
    position: absolute;
    right: 5px;
}

.nav ul li{
    display: inline-block;
}

.nav ul li a{
    color: white;
    padding: 5px;
}

.HOME{
    background: url("../images/10.jpg");
    background-size: cover;
    height: 100vh;
}

.HOME .text-container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.Services .Services-content{
    margin: 80px auto 0 auto;
    text-align: center;
}

.Services-content .card-container ul{
    padding: 0;
}

.Services-content .card-container ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
    width: 300px;
}

.Services-content .card-container ul li p{
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 47, 255);
}

.Services .Services-content h1{
    font-family: 'Roboto', sans-serif;
    color: tomato;
}

.about .about-content{
    margin: 150px auto 0 auto;
    width: 500px;
}

.about .about-content h1{
    text-align: center;
    color: red;
}

.about .about-content p{
    text-align: justify;  
    color: white;
}

.contact .contact-content{
    margin: 80px auto 0 auto;
    text-align: center;
}

.contact .contact-content h1{
    font-family: 'Roboto', sans-serif;
    color: red;
}

.contact .contact-content .address-holder{
    font-family: 'Roboto', sans-serif;
}